/*DISEÑO DE LA BARRA DE TEXTO*/

html::-webkit-scrollbar-thumb {
  background-color: #131f2c;
  border-radius: 20px;
  border: none;
}

html::-webkit-scrollbar-button:increment,
html::-webkit-scrollbar-button {
  display: none;
}

html::-webkit-scrollbar {
  -webkit-appearance: none;
}

html::-webkit-scrollbar:vertical {
  width: 0px;
}

html::-webkit-scrollbar:horizontal {
  height: 0px;
}

html {
  margin: 0;
  padding: 0;
  background-color: transparent;
  scroll-behavior: smooth;
}
/*end-barra*/

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow-x: hidden;
}
.tiempo {
  position: fixed;
  color: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  bottom: 2%;
  right: 2%;
}
.fondo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -2;
}
.fondo img {
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
  object-fit: cover;
  -webkit-filter: cover;
}
.menu {
  position: absolute;
  top: 1em;
  left: 1em;
  cursor: pointer;
}
.menu:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition: transform 0.3s ease-in;
  -webkit-transition: transform 0.3s ease-in;
  -moz-transition: transform 0.3s ease-in;
  -ms-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
}
.portada {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}
.portada img {
  object-fit: cover;
  width: 2vw;
}

/*pop-ups*/
.screenmenu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #050a0ef8;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.screenmenu .options {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.options a {
  color: rgb(133, 133, 133);
  font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 3em;
  font-weight: 600;
}
.options a:hover {
  color: white;
  transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
}
.close-menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.close-menu:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: transform 0.3s ease-in;
  -webkit-transition: transform 0.3s ease-in;
  -moz-transition: transform 0.3s ease-in;
  -ms-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  cursor: pointer;
}
/*bubbles*/
section {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.8;
  z-index: -1;
}
.leaf {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.leaf div {
  position: absolute;
  display: block;
}
.leaf div:nth-child(1) {
  left: 20%;
  animation: fall 15s linear infinite;
  animation-delay: -2s;
}
.leaf div:nth-child(2) {
  left: 70%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}
.leaf div:nth-child(3) {
  left: 10%;
  animation: fall 20s linear infinite;
  animation-delay: -7s;
}
.leaf div:nth-child(4) {
  left: 50%;
  animation: fall 18s linear infinite;
  animation-delay: -5s;
}
.leaf div:nth-child(5) {
  left: 85%;
  animation: fall 14s linear infinite;
  animation-delay: -5s;
}
.leaf div:nth-child(6) {
  left: 15%;
  animation: fall 16s linear infinite;
  animation-delay: -10s;
}
.leaf div:nth-child(7) {
  left: 90%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}

@keyframes fall {
  0% {
    opacity: 1;
    top: -10%;
    transform: translateX (20px) rotate(0deg);
  }
  20% {
    opacity: 0.8;
    transform: translateX (-20px) rotate(45deg);
  }
  40% {
    transform: translateX (-20px) rotate(90deg);
  }
  60% {
    transform: translateX (-20px) rotate(135deg);
  }
  80% {
    transform: translateX (-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX (-20px) rotate(225deg);
  }
}
.leaf1 {
  transform: rotateX(180deg);
}
.info-ad {
  position: absolute;
  width: 100%;
  top: 40%;
  font-family: "Courgette", cursive;
  text-align: center;
  transform: translate;
  color: #fff;
  transform: translateY (-50%);
}
.info-ad h2 {
  font-size: 4em;
  margin: 0;
  padding: 0;
}
.info-ad p {
  width: 100%;
  text-align: center;
}
